<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="The Demo Test">
    <listeners>
        <listener class-name="com.utilities.Listeners"/>
    </listeners>
    <test name="Add to Cart">
        <classes>
            <class name="com.testrunner.Runner"/>
        </classes>
    </test>
</suite>